<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="css/bootstrap.css">
  <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
</head>

<body style="background: white;">
  <div class="row">
    <div class="container pt-3 pb-3" style="background-color: #7DB249;">
      <div class="row justify-content-md-center">
        <div class="col-2">
          <a class="d-flex justify-content-center" href="index.html">
            <img width="50px" src="img/arrow-left.svg">
          </a>
        </div>
        <div class="col-8">
          <div>
            <h1 style="text-align: center;">리필러블 스테이션</h1>
          </div>
        </div>
        <div class="col-2"> 
          <div class="d-flex justify-content-center" href="">
            <img width="50px" src="img/gear-fill.svg"/>
          </div> 
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="padding:0px 10px 0px 10px;">
    <div class="col-12" style="padding:0;">
      <div class="border" style="padding: 10px; margin: 10px;">

        <h2 style="display: flex;  height:200px; justify-content: center; align-items: center;">
          <b>오늘도 리필러블 스테이션을 이용해주셔서 감사드립니다!</b>
        </h2>

        <div class="container">
          <div class="pt-2 pb-2 d-flex justify-content-center">
            <button type="button" class="btn btn-success btn-lg" onclick="logout()">로그아웃</button>
            
          </div>
        </div>
      </div>
    </div>

  <div>
  
  <!-- We are using node <script>document.write(process.versions.node)</script> -->
  <!-- <a href="new.html">new</a> -->
  <script src="js/bootstrap.js"></script>
  <script src="js/authenticate.js"></script>

</body>
</html>