<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="css/bootstrap.css">
  <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
</head>

<body style="background: white;">
  <div class="row">
    <div class="container pt-3 pb-3" style="background-color: #7DB249;">
      <div class="row justify-content-md-center">
        <div class="col-2">

        </div>
        <div class="col-8">
          <div>
            <h1 style="text-align: center;">리필러블 스테이션</h1>
          </div>
        </div>
        <div class="col-2"> 
          <div class="d-flex justify-content-center">
            <img width="50px" src="img/gear-fill.svg"/>
          </div> 
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="padding:0px 10px 0px 10px;">
    <div class="col-8" style="padding:0;">
      <div class="border" style="padding: 10px; margin: 10px;">

        <h4 style="display: flex; justify-content: center; align-items: center;">
          <b>리필러블 스테이션에 오신 것을 환영합니다!</b>
        </h4>
        <form name="loginForm" class="border">
          <div class="container" style="padding:10px ">
            <div class="row">
              <div class="col-9">
                <div class="container" style="padding-right: 0px; padding-left:0;">
                  <div class="row">
                    <div class="col-4" style="display: flex; justify-content: center; align-items: center;">
                      <label for="phoneNum" style="display: flex; justify-content: center; align-items: center;" >
                        <b>핸드폰번호</b>
                      </label>
                    </div>
                    <div class="col-8">
                      <input id="phoneNum" type="tel" class="form-control" aria-describedby="emailHelp" onclick="phoneNumSelect()" maxlength="11">
                    </div>
                  </div>
                  <div class="row mb-1">
                    <div class="col-4" style="display: flex; justify-content: center; align-items: center;"></div>
                    <div class="col-8">
                      <span id="phoneNumHelpInline" class="form-text">
                        
                      </span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4" style="padding:0; display: flex; justify-content: center; align-items: center;" >
                      <label for="password1" style="display: flex; justify-content: center; align-items: center;" >
                        <b>비밀번호 (4자리)</b>
                      </label>
                    </div>
                    <div class="col-8">
                      <input id="password1" type="password" class="form-control" onclick="password1Select()" maxlength="4">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4" style="padding:0; display: flex; justify-content: center; align-items: center;" ></div>
                    <div class="col-8">
                      <span id="passwordHelpInline" class="form-text">
                      
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-3" style="display: flex; justify-content: center; align-items: center; padding:0px;">
                <div>
                  <button type="button" class="btn btn-success btn-lg" onclick="login()">로그인</button>
                </div>
              </div>
            </div>
          </div>
        </form>

        <div class="container">
          <div class="pt-2 pb-2" style="display: flex; justify-content: center; align-items: center;">
            <a href="signup1.html">
              <button type="button" class="btn btn-success btn-lg">회원가입</button>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4" style="padding:0;">
      <div style="margin: 10px 10px 10px 0px;">
        <div class="container numpad" style="padding: 0;">
          <div class="row-new">
            <div class="col">
              <button type="button" class="btn btn-secondary btn-lg btn-full" onclick="buttonClick(1)">
                1
              </button>
            </div>
            <div class="col">
              <button type="button" class="btn btn-secondary btn-lg btn-full" onclick="buttonClick(2)">
                2
              </button>
            </div>
            <div class="col">
              <button type="button" class="btn btn-secondary btn-lg btn-full" onclick="buttonClick(3)">
                3
              </button>
            </div>
          </div>
          <div class="row-new">
            <div class="col">
              <button type="button" class="btn btn-secondary btn-lg btn-full" onclick="buttonClick(4)">
                4
              </button>
            </div>
            <div class="col">
              <button type="button" class="btn btn-secondary btn-lg btn-full" onclick="buttonClick(5)"> 
                5
              </button>
            </div>
            <div class="col">
              <button type="button" class="btn btn-secondary btn-lg btn-full" onclick="buttonClick(6)">
                6
              </button>
            </div>
          </div>
          <div class="row-new">
            <div class="col">
              <button type="button" class="btn btn-secondary btn-lg btn-full" onclick="buttonClick(7)">
                7
              </button>
            </div>
            <div class="col">
              <button type="button" class="btn btn-secondary btn-lg btn-full" onclick="buttonClick(8)">
                8
              </button>
            </div>
            <div class="col">
              <button type="button" class="btn btn-secondary btn-lg btn-full" onclick="buttonClick(9)">
                9
              </button>
            </div>
          </div>
          <div class="row-new">
            <div class="col">
              <button type="button" class="btn btn-secondary btn-lg btn-full" onclick="nextSelect()">
                다음
              </button>
            </div>
            <div class="col">
              <button type="button" class="btn btn-secondary btn-lg btn-full" onclick="buttonClick(0)">
                0
              </button>
            </div>
            <div class="col">
              <button type="button" class="btn btn-secondary btn-lg btn-full" onclick="buttonClickDelete()">
                삭제
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>

  <div>

  



    <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- We are using node <script>document.write(process.versions.node)</script> -->
  <script src="js/bootstrap.js"></script>
  <script src="js/numpad.js"></script>
  <script src="js/authenticate.js"></script>
</body>
</html>