<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Hello World!</title>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
  <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
</head>
<body style="background: white;">
  <div>
    <h1>리필러블 스테이션에 오신 것을 환영합니다!</h1>
  </div>
  <div>
    
  </div>
  <a class="btn btn-info">TEST BTN</a>


  <!-- We are using node <script>document.write(process.versions.node)</script> -->
  <a href="new.html">new</a>
</body>
</html>